<a href="https://colab.research.google.com/github/mingyeom121212/aipython/blob/main/240104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=30//2
type(a)

int

In [6]:
a = 1
while ( a <= 3 ):
  print('안녕', a)
  a+=1

안녕 1
안녕 2
안녕 3

In [11]:
SIZE=4
for i in range(1,SIZE+1):
  print(i,'Welcome')
  for j in range(1,SIZE):
    print(j,'Hello')
    j+=1
print('Done')

1 Welcome
1 Hello
2 Hello
3 Hello
2 Welcome
1 Hello
2 Hello
3 Hello
3 Welcome
1 Hello
2 Hello
3 Hello
4 Welcome
1 Hello
2 Hello
3 Hello
Done

In [37]:
A,B,C=map(int,input().split())
if A>B:
  if A>C:
    if B>C:
      print(B)
    else:
      print(C)
  else:
    print(A)
else:
  if B>C:
    if A>C:
      print(A)
    else:
      print(C)
  else:
    print(B)

20 20 30
20

In [39]:
A,B,C=map(int,input().split())
if C>=A>=B or B>=A>=C:
  print(A)
elif C>=B>=A or A>=B>=C:
  print(B)
else:
  print(C)

20 20 30
20

In [27]:
A,B,C=map(int,input().split())
nums=[A,B,C]
nums.sort(reverse=True)
print(nums)

20 30 10
[30, 20, 10]

In [31]:
A,B,C=map(int,input().split())
nums=[A,B,C]
nums.sort(reverse=True)
print(nums)

20 30 10
[30, 20, 10]

In [35]:
nums=(1,2,3) #튜플
print(nums[1])

2

In [45]:
f=['게임','독서']
print(f)
f[0]='스포츠'
print(f)
f[1]='음악'
print(f)

['게임', '독서']
['스포츠', '독서']
['스포츠', '음악']

In [48]:
x=[20]
print(x)
x.append(30)
print(x)
x.insert(1,10)
print(x)
x.extend([40,50])
print(x)
y=[1,2]
z=x+y
print(z)

[20]
[20, 30]
[20, 10, 30]
[20, 10, 30, 40, 50]
[20, 10, 30, 40, 50, 1, 2]

In [47]:
x=[10,20,30,40]
x.remove(10)
print(x)
x.pop(2)
print(x)
x.clear()
print(x)

[20, 30, 40]
[20, 30]
[]

In [53]:
개설과목 = ['컴퓨터','파이썬','인공지능']
if '파이썬' in 개설과목:
  print('파이썬 과목이 개설 되었습니다.')

for i in 개설과목:
  print(i)

파이썬 과목이 개설 되었습니다.
컴퓨터
파이썬
인공지능

In [55]:
a=[10,20,30]
print("최솟값:", min(a))
print("최댓값:", max(a))
print("합 계:", sum(a))
len(a)

최솟값: 10
최댓값: 30
합 계: 60

3

In [73]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for r in range(len(score)):
  for c in range(len(score[r])):
    print(score[r][c], end=" ")
  print()
print(score[0])

29 28 27 30
30 20 27 29
23 25 29 30
[29, 28, 27, 30]

In [72]:
score= [[29, 28, 27, 30],
[30, 20, 27, 29],
[23, 25, 29, 30]]
for sc in score:
  for c in sc:
    print(c, end=" ")
  print()
print(sc)

29 28 27 30
30 20 27 29
23 25 29 30
[23, 25, 29, 30]

In [74]:
score = []

while True:
  num = input('학생의 점수를 입력하세요.')
  if num.isdigit()==False:
    break
  else:
    score.append(int(num))

total = sum(score)
count = len(score)
average = total / count

print('전체 합계 :', total)
print('총 인원수 :', count)
print('평균 :', average)

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.x
전체 합계 : 190
총 인원수 : 3
평균 : 63.333333333333336