<a href="https://colab.research.google.com/github/mingyeom121212/aipython/blob/main/240103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = 10
if a > 5:
  print("a는 5보다 큽니다.")
  print("end")

a는 5보다 큽니다.
end

In [5]:
a = 'M'
if a=='M':
  print("남자")
elif a=='F':
  print("여자")

남자

In [6]:
score=90
if score>=90:
  print('A')
elif score>=80:
  print('B')
elif score>=70:
  print('C')
else:
  print('D')

A

In [7]:
a = 10
b = 5
if a > 5:
  if b < 10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [9]:
a = [1, 2, 3, 4, 5]
for i in a:
  print(i,end=' ')

1 2 3 4 5

In [10]:
a = 10
b = 5
if a > 5 and b < 10:
    print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [15]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [16]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
for x in '월화수':
  print(x)

월
화
수

In [19]:
def add(x,y):
  s = x + y
  a = s / 2
  return s, a
h,a = add(10,20)
print("합:",h, "평균:", a)

합: 30 평균: 15.0

In [22]:
high_score = 95
def main(): # 점수를 세 번 입력받아 각 변수에 할당한다.
 test1 = int(input('Enter the score for test 1: '))
 test2 = int(input('Enter the score for test 2: '))
 test3 = int(input('Enter the score for test 3: '))
 average = (test1 + test2 + test3) / 3
 print('The average score is', average)
 # 평균값이 HIGH_SCORE 보다 클 경우에 메시지 출력
 if average >= high_score:
  print('Congratulations!')
  print('That is a great average!')
main()

Enter the score for test 1: 86
Enter the score for test 2: 82
Enter the score for test 3: 76
The average score is 81.33333333333333

In [23]:
BASE_SIZE = 8
for r in range(BASE_SIZE):
  for c in range(BASE_SIZE-r):
    print('*', end='')
  print()

********
*******
******
*****
****
***
**
*