<a href="https://colab.research.google.com/github/mingyeom121212/aipython/blob/main/240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [11]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [16]:
a=input()
n=a.split()
print(n)
b='-'.join(n)
print(b)

Geeks for Geeks
['Geeks', 'for', 'Geeks']
Geeks-for-Geeks

In [19]:
output=[(x+1)**2 for x in range(5)]
print(output)

[1, 4, 9, 16, 25]

In [25]:
n= ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
output=[i for i in n if i.startswith('S')==True]
print(output)

['Seoul', 'Shanghai']

In [21]:
output=[(x+1)**2 for x in range(20) if (x+1)%3==0]
print(output)

[9, 36, 81, 144, 225, 324]

In [28]:
n= ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
output=[i for i in n if i.find('S')==0]
print(output)

['Seoul', 'Shanghai']

In [33]:
fruits = ['apple', 'banana', 'cherry']
for o, i in enumerate(fruits,start=1):
  print(o, i)

1 apple
2 banana
3 cherry

In [44]:
Input = ['a','b','c']
for index, name in enumerate(Input):
  print(f"fruit{index} name is {name}")

fruit0 name is a
fruit1 name is b
fruit2 name is c

In [45]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [46]:
name = [ "M", "N", "S", "A" ]
roll_no = [ 4, 1, 3, 2 ]
for nam,number in zip(name,roll_no):
  print(nam,number)

M 4
N 1
S 3
A 2

In [47]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
a=dict(zip(keys,values))
print(a)

{'a': 1, 'b': 2, 'c': 3}

In [52]:
names = ['M', 'R', 'C']
ages = [24, 50, 18]
for index,info in enumerate(zip(names,ages)):
  print(index,info[0],info[1])

0 M 24
1 R 50
2 C 18

In [53]:
def add(x,y):
  s=x+y
  return s
add(5,5)

10

In [54]:
add=lambda x,y: x+y
add(5,5)

10

In [58]:
s=list(map(int,input().split()))
a=s.sort()
print(a)

2 8 5
None

In [61]:
a, b, c = map(int, input().split())

if a == b or b == c or a == c:
  print("wrong value")
else:
  list = [a, b, c]
  list.sort(reverse=True)
  print(*list)

2 8 5
8 5 2

In [65]:
sec=int(input())
hour=sec//3600
min=(sec//60)%60
secc=sec%60
print(f'{hour}시 {min}분 {secc}초')

11730
3시 15분 30초